<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cleancoder.interviews.rssreader" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RssFeedsActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RssItemsActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_rss_items"
            android:parentActivityName=".RssFeedsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cleancoder.interviews.rssreader.MainActivity" />
        </activity>
        <activity
            android:name=".RssItemActivity"
            android:label="@string/title_activity_rss_item"
            android:parentActivityName=".RssItemsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cleancoder.interviews.rssreader.RssItemsActivity" />
        </activity>
    </application>

</manifest>
